@{
  ViewData["Title"] = "Tipo de Ejercicios";
}

<div class="text-center">
  <h1 class="display-4">Informe General</h1>
</div>

<div class="row mb-3">
  <div class="col-md-2">
    <label class="form-label">Desde</label>
    <input type="datetime-local" id="FechaDesdeBuscar" onchange="ListadoEjercicios()" class="form-control"
      value="@DateTime.Now.Date.ToString("yyyy-MM-dd HH:mm")" />
  </div>
  <div class="col-md-2">
    <label class="form-label">Hasta</label>
    <input type="datetime-local" id="FechaHastaBuscar" onchange="ListadoEjercicios()" class="form-control"
      value="@DateTime.Now.ToString("yyyy-MM-dd HH:mm")" />
  </div>
</div>




<div class="table-wrapper">
<table id="tabla-imprimir" class="table table-light table-bordered table-condensed">
  <thead>
    <tr>
      <th class="anchoCelda">Evento</th>
      <th class="anchoCelda">Lugar</th>
      <th class="anchoCelda">Tipo</th>
      <th class="text-center anchoCelda">Inicio</th>
      <th class="text-center anchoCelda">Fin</th>
      <th class="text-center anchoCelda">Duración</th>
      <th class="anchoCelda">Estado Emocional Inicio</th>
      <th class="anchoCelda">Estado Emocional Fin</th>
      <th class="anchoCelda">Observaciones</th>
    </tr>
  </thead>
  <tbody id="tbody-ejerciciosfisicos">
  </tbody>
</table>
</div>

@section Scripts {
  <script src="~/js/informeGeneral-1.0.0.js"></script>
}
